.hero .wrapper *{
    border: 1px solid red;
}

.hero {
    .wrapper {
        display: flex;
    }

    .hero_content {
        padding-left: 10px;
        flex-direction: column;
        width: 60%;

        h1 {
            margin-bottom: 5%;
        }

        p {
            width: 72%;
        }

        .subtitle {
            width: 35%;
            margin-bottom: 5%;
            margin-top: 9%;
        }

    }

    .button {
        margin-top: 3%;
        height: 10%;
        float: left;
        width: 39%;
    }
    .button-play {
        margin-top: 4%;
        float: right;
        width: 55%;

    }

    .button-play > * {
        align-items: center;
    }




    .hero_media {
        display: flex;
    }
}
