/*.hero .wrapper *{
    !*border: 1px solid red;*!
}

.hero {
    .wrapper {
        display: flex;
    }

    .hero_content {
        padding-left: 10px;
        flex-direction: column;
        width: 60%;

        h1 {
            margin-bottom: 5%;
        }

        p {
            width: 72%;
        }

        .subtitle {
            width: 35%;
            margin-bottom: 5%;
            margin-top: 9%;
        }

    }

    .button {
        margin-top: 3%;
        height: 10%;
        float: left;
        width: 39%;
    }
    .button-play {
        margin-top: 5%;
        float: right;
        width: 55%;

    }

    .button-play > * {
        align-items: center;
    }




    .hero_media {
        display: flex;
    }
}*/

.hero {

    /*padding: var(--spacing-xl) 0;*/
    padding-left: 20px;
    padding-top: 70px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    p {
        font-weight: 480;
        color: var(--Color-typo-pale);
        width: 68%;
    }

    .subtitle {
        width: 33%;
        letter-spacing: 0.5px;
        margin-bottom: 45px;
        color: #2625BF;
    }

    h1 {
        letter-spacing: -2px;
        line-height: 72px;
    }

    .hero_content {
        width: 68%;
    }

    .button-play span {
        background-image: linear-gradient(#FFC700, #FF782D);
        border-radius: 100%;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        /*padding: 25px;*/
    }

    .boutons {
        display: flex;
        gap: 56px;
    }

    .button-play {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}



