.testimonies {
    background-color: rgba(196, 196, 196, 0.4);
    padding: var(--spacing-xl) 0;

    .wrapper {
    }

    .testimonies_header {
        display: flex;
        gap: 56px;
        justify-content: space-between;
        align-items: center;
    }

    .cards {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .card {
        display: flex;
        background-color: white;
        border-radius: 15px;
        align-items: center;
        padding: var(--spacing-md);
        justify-content: space-between;
        color: var(--Color-typo-pale);
        box-shadow: 0 0 50px #ccc;

        h3 {
            padding-top: 30px;
        }
    }

    .subtitle {
        color: #2625BF;
        box-shadow: 6px 9px 15px 5px rgba(0,13,81,0.20);
    }

    .card_media {
        width: 40%;
    }

    .card_content {
        width: 60%;
        text-align: left;

        ul {
            list-style: none;
            display: flex;
            gap: 5px;
            margin: auto;
            padding: 0px;
        }
    }

    p {
        font-weight: normal;
        color: var(--Color-typo-fonce);
        margin-top: 0;
        margin-bottom: 10px;
    }

    h4 {
        font-size: small;
    }

    .card_media span {
        border-radius: 15%;
    }

}
